.Table {
    font-family: 'Open Sans', sans-serif;
    color: #008080;
    background-color: #FFFAFA !important;
    text-overflow: ellipsis !important;
    font-size: large;
}

@media screen and (min-width : 1024px) and (orientation:landscape) {
    .Table {
        width: 600px;
    }
}

@media screen and (min-width: 320px) and (orientation: portrait) {
    .Table {
        width: 335px;
    }
}

@media screen and (min-width: 480px) and (orientation: landscape) {
    .Table {
        width: 610px;
    }
}