.popup {
  display: flex;
  justify-content: space-between;
  position: fixed;
  right: 0.2rem;
  min-width: 16rem;
  color: aliceblue;
  font-family: "Montserrat", sans-serif;
  border-radius: 10px;
  z-index: 1000;
  padding: 0.7rem;
  transform: translateX(110%);
}

.popup_success {
  background-color: #399b5b;
}

.popup_error {
  background-color: #ff0134;
}

.popup_warning {
  background-color: #db993c;
}

.popup__closeButton {
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}

.show {
  animation: slide-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 100ms;
}

.close {
  animation: slide-out;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 100ms;
}

@media (min-width: 40rem) {
  .popup {
    top: 10%;
    padding: 1rem;
  }
}

@keyframes slide-in {
  0% {
    transform: translateX(0);
  }
  33% {
    transform: translateX(-3rem);
  }
  100% {
    transform: translateX(1rem);
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0);
  }
  33% {
    transform: translateX(-1rem);
  }
  100% {
    transform: translateX(110%);
  }
}
