.Container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  color: white;
}

.Container__notes {
  margin: 2rem;
  background: #142534;
  min-width: 15rem;
  min-height: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Container__link {
  text-align: center;
  padding: 1.25rem;
  margin: 0.62rem;
  color: black;
  background-color: rgb(202, 205, 207);
  border: 3px solid #142534;
}

.Container__link:hover,
.Container__link:active {
  outline: unset;
  text-decoration: none;
  border: 3px solid #e26804;
}

.Container__todo {
  margin: 2rem;
  background: #142534;
  min-width: 15rem;
  min-height: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 40rem) {
  .Container {
    top: 25vh;
    justify-content: space-evenly;
    flex-direction: row;
    margin: 0 12rem;
  }
}
